# Node/React
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env

# Java/Spring Boot
backend/target/
backend/*.class
backend/*.jar
backend/*.war
backend/*.iml

# IDE
.vscode/
.idea/
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
